<div class="container-fluid" style="padding: 0px;">
  <div *ngFor="let dummyObject of dummyObjectArray; let listIndex = index">
    <div
      class="row g-0"
      style="
        border: 1px solid #ddd;
        text-rendering: optimizeLegibility;
        color: rgb(68, 68, 68);
        padding: 1em;
        margin: 0;
        cursor: pointer;
        box-shadow: 0px 4px 16px 0px rgba(119, 119, 119, 0.25);
        border-radius: 6px;
        margin-bottom: 10px;
      "
    >
      <div>
        <div class="row">
          <div class="col-md-5">
            <div class="myRowStyle">
              <div class="col-md-4" style="padding: 0px">
                <img
                  src="/assets/img/box-shipping-icon.png"
                  style="width: 60px; height: 60px"
                />
              </div>
              <div class="col-md-8" style="padding: 0px">
                <p style="font-size: 14px; font-weight: 500; color: black">
                  {{ dummyObject.referenceno }}
                </p>
                <p style="font-size: 14px; font-weight: 500; color: #05539f">
                  {{ dummyObject.shippingtype }}
                </p>
                <p>
                  <span
                    style="color: #5a5a5a; font-size: 14px; font-weight: 500"
                    >Express </span
                  ><span
                    style="
                      color: rgba(204, 0, 25, 0.8);
                      font-size: 14px;
                      font-weight: 600;
                    "
                    >{{ dummyObject.receiptno }} </span
                  ><span
                    ><img
                      src="/assets/img/copy-icon.png"
                      alt=""
                      style="width: 13px; height: 13px"
                  /></span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="padding: 0px">
            <div class="col-md-1" style="padding: 0px">
              <img src="/assets/img/border-list-icon.png" alt="" />
            </div>
            <div class="col-md-2" style="padding: 0px; margin-top: 10px">
              <img src="/assets/img/american-flag-icon.png" alt="" />
            </div>
            <div class="col-md-9" style="padding: 0px">
              <img src="/assets/img/progression-icon-1.png" alt="" />
              <p>
                <span style="font-size: 13px; font-weight: 500; color: #5a5a5a"
                  >{{ dummyObject.statusupdated }},</span
                ><span
                  style="font-size: 13px; font-weight: 400; color: #5a5a5a"
                  >{{ dummyObject.statusupdateddate }}</span
                >
              </p>
            </div>
          </div>
          <div class="col-md-3" style="padding: 0px">
            <div class="col-md-10" style="text-align: left; padding: 0px">
              <a
                href="#"
                class="btn active"
                role="button"
                aria-pressed="true"
                style="
                  background-color: #bfdbf8;
                  color: #3e9eff;
                  font-size: 12px;
                  padding: 5px;
                  border: 0px;
                "
                >Received</a
              >
              <p style="font-size: 14px; font-weight: 500; color: black">
                {{ dummyObject.packagelocation }}
              </p>
            </div>
            <div class="col-md-2" style="padding: 5px">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="checkedBox"
                checked
              />
              <img
                (click)="expandOrCollapseRow(listIndex)"
                src="/assets/img/arrow-down-icon.png"
                alt=""
              />
            </div>
          </div>
        </div>
        <div *ngIf="dummyObject.expanded" class="myRowStyle">
          <div class="row" style="margin-top: 15px; padding-right: 5px;">
            <div class="col-md-5">
              <div class="col-md-4 align-items-center" style="padding: 0px">
                <img src="/assets/img/document-icon.png" alt="" style="width: 55px; height: 55px;" />
              </div>
              <div class="col-md-8" style="padding: 0px">
                <p style="font-size: 12px; font-weight: 500; color: black">
                  Name or Something
                </p>
                <p style="font-size: 12px; font-weight: 400; color: #5a5a5a">
                  12mm x 10mm
                </p>
                <p style="font-size: 12px; font-weight: 400; color: #5a5a5a">
                  1 kg
                </p>
              </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-8" style="padding: 0px;">
                    <p style="font-size: 14px; font-weight: 500; color: #1A1A1A;">Confirm Your Order</p>
                    </div>
                    <div class="col-md-4" style="padding: 5px;">
                        <button type="button" style="font-size: 12px; font-weight: 600; color: white; border: 0px; background-color: #CC0019; height: 40px; border-radius: 6px; border-color: transparent; width: 100%;">Cross Border Forward</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" style="padding: 5px;">
                        <button type="button" style="font-size: 12px; font-weight: 600; color: white; border: 0px; background-color: #B4B4B4; height: 40px; border-radius: 6px; border-color: transparent; width: 100%;">Hold for Pickup</button>
                    </div>
                    <div class="col-md-4" style="padding: 5px;">
                        <button type="button" style="font-size: 12px; font-weight: 600; color: white; border: 0px; background-color: #B4B4B4; height: 40px; border-radius: 6px; border-color: transparent; width: 100%;">Cross Border Pickup</button>
                    </div>
                    <div class="col-md-4" style="padding: 5px;">
                        <button type="button" style="font-size: 12px; font-weight: 600; color: white; border: 0px; background-color: #B4B4B4; height: 40px; border-radius: 6px; border-color: transparent; width: 100%;">Forward Package</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <img src="/assets/img/border-order-icon.png" alt="" width="400px">
                    </div>
                </div>
            </div>
          </div>
          <div class="row" style="margin-top: 15px;">
            <app-package-detail-lists></app-package-detail-lists>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
