<div class="container-fluid" style="margin-top: 20px;">
<div class="row g-0" style="border: 1px solid #5A5A5A; border-radius: 6px; box-shadow: 0px 4px 16px 0px rgba(119, 119, 119, 0.25);">
<div class="col-md-5">
    <div class="row" style="background-color: white;">
        <div class="col-md-2" style="text-align: center; align-items: center; margin-top: 25px;">
            <img src="assets/img/box-shipping-icon.png" style="width: 40px; height: 40px;">
        </div>
        <div class="col-md-10" style="padding: 15px;">
            <p style="font-size: 14px; font-weight: 500; margin: 0px; padding: 0px;">#5635-342808</p>
            <p style="font-size: 14px; font-weight: 500; color:#05539F ; margin: 0px; padding: 0px;">Shipping Mailbox</p>
            <p style="font-size: 14px; font-weight: 500; margin: 0px; padding: 0px;"><span style="color: #5A5A5A;">Express</span><span style="color: rgba(204, 0, 25, 0.80); font-weight: 600;"> 872812138328 </span>
                <img src="assets/img/copy-icon.png" style="width: 13px; height: 16px;">
            </p>
        </div>
    </div>
</div>
<div class="col-md-1"></div>
<div class="col-md-4"></div>
<div class="col-md-2"></div>
</div>
</div>