.address-card {
    max-width: 400px;
    border-radius: 8px;
    border: 1px solid rgba(90, 90, 90, 0.55);
    background: #FFF;
    box-shadow: 0px 4px 28px 0px rgba(119, 119, 119, 0.10);
    margin: 5px;
  }